.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 300px;
}
.box {
  border: 2px groove #96858f;
  background-color: #d0dcb2;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
}
.altbox {
  border: 2px groove #96858f;
  background-color: #ffbe2e;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
}
.button {
  border: 2px groove #96858f;
  background-color: #b488b4;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
}
button {
  border: 2px groove #96858f;
  background-color: #b488b4;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
  font-size: 1.2em;
  padding: 0.3em;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  background-color: #c1bbc3;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body header {
  border: 2px groove #96858f;
  background-color: #d0dcb2;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  justify-content: space-around;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
body main .noAuth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .noAuth h1 {
  border: 2px groove #96858f;
  background-color: #ffbe2e;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
  padding: 1em;
}
body main .noAuth .error {
  max-width: 800px;
  margin: 1em;
  border: 2px groove #96858f;
  background-color: #d0dcb2;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  justify-content: space-evenly;
  margin: 1em;
}
body main .row form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body main .row form section {
  margin: 0.5em;
}
body footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px groove #96858f;
  background-color: #d0dcb2;
  box-shadow: 0.1em 0.25em 0.75em #96858f;
  width: 85%;
}
