@{
    ViewData["Title"] = "Home Page";
}
@* <h1>@ViewData["Title"]</h1> *@
<h1>Welcome</h1>
<h3>Devs on Deck is a exclusively for developers. And is currently by invite only</h3>
<h3>Current Stable Version: Version 1.0</h3>


<div class="row">
    <div class="column">
        <h3>Current Features</h3>
        <div class="column">
            <h4>Version 1.0</h4>
            <ul>
                <li>Ability to signon as a Developer or an Organization Owner</li>
            </ul>
        </div>
    </div>
    <div class="column">
        <div class="column">
            <h3>Features in testing</h3>
            <h4>Version 1.1</h4>
            <ul>
                <li>Ability to update User profile to include skills</li>
                <li>Ability to update Organization profile</li>
            </ul>
        </div>
        <div class="column">
            <h3>Features in Development</h3>
            <h4>Version 1.2</h4>
            <ul>
                <li>Post open positions</li>
                <li>See Developers with skills that match your open positions</li>
            </ul>
        </div>
        <div class="column">
            <h3>Backlog Features</h3>
            <ul>
                <li>Ability to join your Organization</li>
                <li>Forum area for Organization members</li>
                <li>Forum to connect with developers with similar skills</li>
                <li>Forum to as questions, find answers - mini stackoverflow</li>
            </ul>
        </div>
    </div>
</div>


