@{
    ViewData["Title"] = "Landing Page";
}
@model MyViews
<h1>@Context.Session.GetString("name")'s Profile Page</h1>
@await Html.PartialAsync("_UserInfo", Model.User)
<h2>Additional Profile Information</h2>
@await Html.PartialAsync("_Profile", @Model.UserProfile)

@if(@Model.UserProfile.Address == null) {
    <button><a href="/Developer/AddProfile">Add More information</a></button>
}
<button><a href="/Developer/EditProfile">Edit Extra information</a></button>

@if(@Context.Session.GetString("type") == "Dev") {
    <h4>You were last seen on the Developer side of the website</h4>
}
@if(@Context.Session.GetString("type") == "Org") {
    <h4>You were last seen on the Organization side of the website</h4>
}
@if(@Context.Session.GetString("type") == "Admin") {
    <h4>You were last seen on the Admin side of the site</h4>
}
@if(@Context.Session.GetString("type") == "Gen") {
    <h4>You are currently a general user</h4>
}
