.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
  height: 1200px;
  background-color: black;
  background: radial-gradient(circle at -8.9% 51.2%, #ff7c00 0%, #ff7c00 15.9%, #ffa34d 15.9%, #ffa34d 24.4%, #131e25 24.5%, #131e25 66%);
}
body div #est,
body div #cst {
  color: white;
}
body #face {
  background-color: #f3f3f3;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px solid black;
  position: relative;
}
body #face #minutes,
body #face #hour,
body #face #seconds {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: top center;
}
body #face #seconds {
  background-color: red;
  height: 130px;
  width: 2px;
  transform: rotate(180deg);
}
body #face #hour {
  background-color: black;
  height: 100px;
  width: 8px;
  transform: rotate(180deg);
}
body #face #minutes {
  background-color: grey;
  height: 120px;
  width: 4px;
  transform: rotate(180deg);
}
body #tools {
  background-color: #d1e8f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 4px groove #d1e8f5;
  width: 100%;
}
body #tools .node {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  min-height: 600px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body #tools .node .toolDiv {
  margin: 2em;
}
body #tools .node .toolDiv:hover {
  animation: tools 2s ease-in-out 0s infinite normal none;
}
@keyframes tools {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@media only screen and (max-width: 400px) {
  body #tools .node {
    flex-direction: column;
  }
}
